<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack and Run : About Page</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    
    <div class="header">
        <h1 class="title_header"> About: Some common questions </h1>
    </div>

<div class="AboutQuestions">
    <h3>Q1: What's this page about?</h3>
    This page is for those who want additional information to decide whether to have a snack - specifically,
    how far you need to jog/run to burn off those calories from the snack, 
    and how the crowd chooses, e.g. if you need an excuse to snack and run later. 
    <br>

    <h3>Q2: Doesn't the calories differ depending on the exact snack? My curry puff is a low fat one. </h3>
    Yes, so we're taking the average here. It's also precisely because there does not appear to be a general consensus 
    on the calories in common snacks, so this is just a handy resource for when you need a quick sensing of the calories in an average version of that snack. 
    <br>

    <h3>Q3: What are your assumptions? </h3>
    That you burn 70 calories per km of jogging/running. Rounding is to the nearest km. 
    <br>

</div>

<br>
<br>
<div>
<form action="/" method="GET" class="BackHomeButton">
    <input type="submit" name ="home" value="Back to home">
</form>
</div>
    

</body>
</html>