/* public/styles/main.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #FFFFF2;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  padding: 0px 0px 0px 0; /* Adjust the padding as needed (top, right, bottom, left) */
  z-index: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../pictures/snacks_header.jpg");
  opacity: 0.3;
  z-index: -1;
}

.title_header {
  display: inline-block; /* Make sure the container only takes the space it needs */
}

.title_header h1 {
  margin: 0;
  padding: 0; /* Remove any padding */
  text-align: center;
  color: rgba(48, 43, 25, 1);
  font-size: 2em;
  z-index: 1;
}

.SnackSelection,
.VoteSelection {
  text-align: center;
  background-color: #faa873;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  color: #302B19;
  bottom: 0; 
  margin-top: 1rem;
}

.SnackSelectionResult,
.VoteSelectionResult {
  position:relative;
  text-align: center;
  margin-top: 20px;
  background-color: #FFD9A4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  color: #302B19;
  margin-top: 1rem; 
}

.footer{
  padding: 20px; 
  text-align: center; 
  position: absolute;
  color:lightslategray;
  bottom: 0;
  font-style:italic;
}

.divider {
  height: 2px;
  background-color: lightslategrey; /* Color of the divider line */
  width: 100%; /* Adjust the width of the divider line */
  margin: 0 auto; /* Center the divider horizontally */
  margin-bottom: 10px; /* Adjust the distance between the line and the paragraph */
}

.AboutQuestions {
  text-align: left;
  margin-top: 100px;
  background-color: #FFD9A4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  color: #302B19;
}

form {
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #FF8565;
  color: #302B19;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #F77E88;
}

input[type="radio"] {
  margin-right: 5px;
}

img {
  padding: 20px;
  width: 350px;
  height: 250px;
  mask-image: linear-gradient(to bottom, transparent, #faa873);
  border-radius: 5px;
  object-fit: cover; /* Crop the image to cover the container */
  object-position: center center; /* Center the cropped image */
  max-width: 80%;
}

.hidden {
  display: none;
}

/*
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  
  h1 {
    text-align: center;
    align-items: top;
    justify-content: center;
    padding: 5px;
    font-size: 40px;
    
  }
  
  .SnackSelection {
    text-align: center;
    color: black;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 10px;
    background-color: yellow;
  }

  .SnackSelectionResult{
    text-align: center;
    font: blue;
    border: 1px solid #ccc; // Add a 1px solid border with a light gray color 
    padding: 0px; // Add some padding inside the box 
    background-color: #f0f0f0; // Set a light gray background color 
    width: 50%; //Set the width to 50% of the parent container 
    margin: 0 auto; // Center the box horizontally using auto margins 
  }

  .VoteSelection {
    text-align: center;
    color: black;
  }

  .VoteSelectionResult{
    text-align: center;
  }

*/
  